@import "../../vars.css";


.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 1;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.hello{
    font-size: 20px;
    animation-name: leftfloat;
    animation-duration: 0.5s;
    animation-iteration-count: 1 ;
    animation-timing-function: ease-in-out;
}

.title{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 30px;
    font-family: var(--font-roboto);
    background: linear-gradient(90deg, rgb(0, 0, 0, 1)80%, rgba(45, 71, 117, 0.6) 120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation-name: leftfloat;
    animation-duration: 0.5s;
    animation-iteration-count: 1 ;
    animation-timing-function: ease-in-out;
}

.description{
    font-size: 20px;
    font-family: var(--font-roboto);
    margin-bottom: 55px;

}

.contactbtn{
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 20px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(72, 72, 72, 0.5);

}

.image{
    width: 50%;
    z-index: 1;
    animation-name: rightfloat;
    animation-duration: 0.5s;
    animation-iteration-count: 1 ;
    animation-timing-function: ease-in-out;
    -webkit-user-drag: none;
}

.stack{
    display: flex;
    position: relative;
    padding: 40px 0;
}

.stack h2{
    font-size: 20px;
    margin-top: 15px;
    margin-right: 10px;
}

.icons img{
    height: 50px;
    width: 50px;
    margin: 0 10px ;
    border-radius: 49%;
    justify-items:right;
    border-radius: 50%;
    box-shadow: 0 0 4px 0 rgb(0, 0, 0, 1);    
}
.icons img:hover{
	background: #dfe3e8;
    box-shadow: 0px -3px 4px 0px rgb(1, 94, 192);    
    transition: 0.2s;
}

@keyframes rightfloat {
    0% {
        transform: translate(700px,0px);
    }
    15% {
        transform: translate(700px,0px);
    }
    100% {
        transform: translate(0, 0px);
    }
}

@keyframes leftfloat {
    0% {
        transform: translate(-600px,0px);
    }
    15% {
        transform: translate(-600px,0);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.topblur{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -150px;
    left: -15vw;
    border-radius: 764px;
    background: rgba(234, 242, 255, 0.7);
    filter: blur(100px);
    z-index: 0;
}

.bottomblur{
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-height: 250px;
    top: 246px;
    right: -10vw;
    border-radius: 764px;
    background: rgba(234, 242, 255, 0.7);
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width: 900px) {
    .container{
        flex-direction: column-reverse;
    }
    .content{
        align-items: center;
    }
    .title{
        font-size: 30px;
    }
    .description{
        font-size: 25px;

    }
    .contactbtn{
        font-size: 25px;
    }
}
