:root {
    /* colors */
    --color-text: #111111;
    --color-primary: #6879bc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #95accb;

    /*olds*/
    --colorbg: rgba(255, 255, 255, 0);
    --colorprimary: #576cbc;


    /*fonts*/
    --font-roboto: "Roboto";
    
}